h2 {
    font-size: 30px;
    text-align: center;
}

#div-atalhos {
    background: url(./imagens/banner.jpg);
    text-align: center;
    height: 600px;
}

#div-atalhos li {
    box-sizing: border-box;
    display: inline-block;
    margin: 150px 150px 0;
    padding: 50px;
}

.opcao-atalho a{
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    box-sizing: border-box;
    border: 5px solid black;
}

#div-atalhos a:hover {
    font-size: 48px;
    color: #C78C19;
}

