main {
	background-color: white;
	text-align: center;
}

main p {
	font-size: 20px;
}

.titulos{
	font-weight: bold;
	font-size: 40px;
	padding: 0 0 20px;
	text-shadow: 5px 5px 10px black;
}

.box-introducao {
	padding: 200px 0;
	background: url(../imagens/beneficios.jpg);
}

.introducao {
	width: 700px;
	margin: 0 auto;
}

.introducao h2 {
	color: #f3f3f3;
	text-shadow: 5px 5px 10px white;
}

.introducao p {
	color: #f3f3f3;
	margin: 0 0 1em;
}

.box-beneficios {
	background: linear-gradient(135deg,white 30%, rgb(17, 17, 17));
	box-shadow: inset 0 0 100px 20px black;
}

.mapa {
	padding: 50px 0;
}

.mapa p {
	padding: 0 0 1em;
}

.beneficios {
	padding: 0 0 50px;
}

.conteudo-beneficios {
	margin: 0 auto;
	width: 300px;
}

.conteudo-beneficios li {
	line-height: 1.5em;
	text-align: left;
}

.itens ::before {
	content: "★";
	
}

.video {
	padding: 0 0 3em;
	margin: 0 auto;	
}

.video iframe {
	width: 500px;
	height: 300px;
}

@media screen and (max-width: 480px) {
		.introducao, #caixa {
			width: auto;
		}
		
		#caixa {
			text-align: center;
			height: auto;
		}

		#caixa nav {
			position: static;
		}

		.video iframe {
			width: 80%;
			height: 200px;
		}
}